.main_chat
  .main_chat__header
    .main_chat__header__left-box
      %p.main_chat__header__left-box__group-name
        = @group.name
      %ul.main_chat__header__left-box__member-list
        Member: 
        -# = @groups.each do |group|
        -#   = group.users

        -# %li.list
        -#   = link_to new_group_path do
        -#     = @group.users
    .main_chat__header__edit-btn
      = link_to "#" do
        Edit

  .messages
    = render @messages
    -# = render partial: 'message', locals: {message: @messages}

  .form
    %form.new_message
      = form_for [@group, @message] do |f|
        .input-box
          = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
          = f.label :image, class: 'input-box__image' do
            = icon('fas', 'image')
            = f.file_field :image, class: 'input-box__image__file'
        = f.submit 'Send', class: 'submit-btn'

  -# .main_chat__form
  -#   %form.new_message
  -#     .input-box
  -#       %input{type: "text", class: "input-box__text", placeholder: "type a messege"}
  -#       %label{class: "input-box__image"}
  -#         = icon('fas', 'image')
  -#         %input{type: "file", class: "input-box__image__file"}
  -#     %input{type: "submit", class: "submit-btn"}